.whiteBack {
    background: #ffffff !important;
}

.tombol1 {
    background: #8d7358;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #ffffff;

    padding: 16px 64px;
}

.tombol2 {
    background: #ffffff;
    border: 1px solid #744c24;
    box-sizing: border-box;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #4f4f4f;
}

.txtNavKecil {
    /*Untuk teks pada navbar*/
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #4f4f4f;
}

.txtWebTitle {
    /*Untuk teks nama web pada navbar*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 34.18px;
    line-height: 42px;

    color: #2e1e04;
}

.hLogReg {
    /*Untuk teks Login dan Register*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 34.1797px;
    line-height: 140%;
    /* identical to box height, or 48px */

    color: #564130;
}

.mnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
}

.homeText {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

.p-nav {
    padding-left: 20%;
    padding-right: 20%;
}

.txtPageTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 34.1797px;
    line-height: 140%;
    text-align: center;
    /* identical to box height, or 48px */

    color: #564130;
}
