h1{color: red;}

.tombol{
    background: #8D7358;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;

    padding: 16px 64px;
}

